In [1]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler

import pickle 
import json

In [2]:
data = pd.read_csv('age_of_marriage_data.csv')
print(data.shape)
data.head()

(2567, 10)

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
0,1,female,"5'4""",NaN,others,Telugu,NaN,London,United Kingdom,21.0
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2567 entries, 0 to 2566
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2567 non-null   int64
 1   gender           2538 non-null   object
 2   height           2449 non-null   object
 3   religion         1932 non-null   object
 4   caste            2425 non-null   object
 5   mother_tongue    2403 non-null   object
 6   profession       2237 non-null   object
 7   location         2412 non-null   object
 8   country          2551 non-null   object
 9   age_of_marriage  2548 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 200.7+ KB

In [4]:
data.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.shape

(1932, 10)

In [7]:
data.head(2)

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0

In [8]:
x = data.loc[:,['gender','height','religion','caste','mother_tongue','country']]
y = data.age_of_marriage

In [9]:
x

      gender height   religion        caste mother_tongue  country
1       male   5'7"       Jain   Shwetamber      Gujarati      USA
2       male   5'7"      Hindu      Brahmin         Hindi    India
3     female   5'0"      Hindu       Thakur         Hindi    India
4       male   5'5"  Christian   Born Again     Malayalam    India
5       male   5'5"      Hindu      Valmiki         Hindi    India
...      ...    ...        ...          ...           ...      ...
2561    male  5'11"      Hindu    Kshatriya          Odia    India
2562  female   5'3"      Hindu       Thakur         Hindi    India
2563    male  5'11"      Hindu       Thakur         Hindi   Canada
2564  female   5'3"      Hindu      Baishya       Bengali    India
2566  female   5'2"  Christian     Marthoma     Malayalam    India

[1932 rows x 6 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
x.loc[:,['gender','religion','caste','mother_tongue','country']]= \
x.loc[:,['gender','religion','caste','mother_tongue','country']].apply(enc.fit_transform)

In [11]:
x

     gender height religion caste mother_tongue country
1         1   5'7"        2    34             6      19
2         1   5'7"        1    14             8       5
3         0   5'0"        1    36             8       5
4         1   5'5"        0    13            13       5
5         1   5'5"        1    38             8       5
...     ...    ...      ...   ...           ...     ...
2561      1  5'11"        1    21            18       5
2562      0   5'3"        1    36             8       5
2563      1  5'11"        1    36             8       3
2564      0   5'3"        1     7             2       5
2566      0   5'2"        0    23            13       5

[1932 rows x 6 columns]

In [12]:
x.height.unique()

array(['5\'7"', '5\'0"', '5\'5"', '5\'2"', '5\'1"', '5\'9"', '5\'10"',
       '5\'3"', '5\'4"', '5\'6"', '5\'11"', '5\'8"', '4\'5"', '6\'5"',
       '4\'11"', '4\'7"', '4\'9"', '6\'0"', '4\'6"', '4\'10"', '6\'1"',
       '6\'2"', '4\'8"', '6\'10"', '6\'3"', '7\'0"', '6\'4"'],
      dtype=object)

In [13]:
int(x.loc[1,'height'].split('\'')[0])*30.48 ##feet to cm

152.4

In [14]:
int(x.loc[1,'height'].split('\'')[1].replace('"',''))*2.54 ##inches to cm

17.78

In [15]:
def h_cms(h):
    return int(h.split('\'')[0])*30.48+\
    int(h.split('\'')[1].replace('"',''))*2.54

In [16]:
x['height_cms'] = x.height.apply(h_cms)

In [17]:
x.head()

  gender height religion caste mother_tongue country  height_cms
1      1   5'7"        2    34             6      19      170.18
2      1   5'7"        1    14             8       5      170.18
3      0   5'0"        1    36             8       5      152.40
4      1   5'5"        0    13            13       5      165.10
5      1   5'5"        1    38             8       5      165.10

In [18]:
x.drop('height',inplace=True,axis=1)

In [19]:
x

     gender religion caste mother_tongue country  height_cms
1         1        2    34             6      19      170.18
2         1        1    14             8       5      170.18
3         0        1    36             8       5      152.40
4         1        0    13            13       5      165.10
5         1        1    38             8       5      165.10
...     ...      ...   ...           ...     ...         ...
2561      1        1    21            18       5      180.34
2562      0        1    36             8       5      160.02
2563      1        1    36             8       3      180.34
2564      0        1     7             2       5      160.02
2566      0        0    23            13       5      157.48

[1932 rows x 6 columns]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=101)

In [21]:
linear_model = LinearRegression() # GDA
linear_model.fit(x_train,y_train)

LinearRegression()

In [22]:
train_score = linear_model.score(x_train,y_train)
print(train_score)

test_score = linear_model.score(x_test,y_test)
print(test_score)

0.10493194560786312
0.1572206877305703

In [23]:
knn_model = KNeighborsRegressor()
knn_model.fit(x_train,y_train)  ## lazy learner

KNeighborsRegressor()

In [24]:
train_score = knn_model.score(x_train,y_train)
print(train_score)

test_score = knn_model.score(x_test,y_test)
print(test_score)

0.5538121549796249
0.37169719902173415

In [25]:
scaler = MinMaxScaler()
arr = scaler.fit_transform(x)
x_scale = pd.DataFrame(arr, columns = x.columns)
x_scale

      gender  religion  caste  mother_tongue   country  height_cms
0        1.0      0.50  0.850       0.230769  0.904762    0.451613
1        1.0      0.25  0.350       0.307692  0.238095    0.451613
2        0.0      0.25  0.900       0.307692  0.238095    0.225806
3        1.0      0.00  0.325       0.500000  0.238095    0.387097
4        1.0      0.25  0.950       0.307692  0.238095    0.387097
...      ...       ...    ...            ...       ...         ...
1927     1.0      0.25  0.525       0.692308  0.238095    0.580645
1928     0.0      0.25  0.900       0.307692  0.238095    0.322581
1929     1.0      0.25  0.900       0.307692  0.142857    0.580645
1930     0.0      0.25  0.175       0.076923  0.238095    0.322581
1931     0.0      0.00  0.575       0.500000  0.238095    0.290323

[1932 rows x 6 columns]

In [26]:
x_scale_train,x_scale_test, y_train, y_test = train_test_split(x_scale,y, test_size=0.2, random_state=17)

In [27]:
knn_model = KNeighborsRegressor()
knn_model.fit(x_scale_train,y_train)  ## lazy learner

train_score = knn_model.score(x_scale_train,y_train)
print(train_score)

test_score = knn_model.score(x_scale_test,y_test)
print(test_score)

0.6409154629620961
0.34474650018386843

In [28]:
with open('model.pkl','wb') as file: 
    pickle.dump(knn_model,file)

In [29]:
x

     gender religion caste mother_tongue country  height_cms
1         1        2    34             6      19      170.18
2         1        1    14             8       5      170.18
3         0        1    36             8       5      152.40
4         1        0    13            13       5      165.10
5         1        1    38             8       5      165.10
...     ...      ...   ...           ...     ...         ...
2561      1        1    21            18       5      180.34
2562      0        1    36             8       5      160.02
2563      1        1    36             8       3      180.34
2564      0        1     7             2       5      160.02
2566      0        0    23            13       5      157.48

[1932 rows x 6 columns]

In [30]:
x.columns.tolist()

['gender', 'religion', 'caste', 'mother_tongue', 'country', 'height_cms']

In [31]:
gender="male"
religion="Hindu"
caste="Brahmin"
mother_tongue="Marathi"
country="India"
height_cms=157.48



if gender == "male":
    gender = 1
else: 
    gender = 0
    
    
if religion=="Hindu":
    religion=1
elif religion=="Christian":
    religion=2
elif religion=="Jain":
    religion=3
elif religion=="Sikh":
    religion=4
else:
    religion=5
    
    
if caste=="Shwetamber":
    caste=1
elif caste=="Brahmin":
    caste=2
elif caste=="Thakur":
    caste=3
else:
    caste=4
    
if mother_tongue=="Marathi":
    mother_tongue=1
elif mother_tongue=="Hindi":
    mother_tongue=2
elif mother_tongue=="Gujrati":
    mother_tongue=3
elif mother_tongue=="English":
    mother_tongue=4
else:
    mother_tongue=5
    
    
if country=="India":
    country=1
elif country=="USA":
    country=2
elif country=="Canada":
    country=3
else:
    country=4
    

user_data = np.zeros(len(x.columns))
user_data[0] = gender
user_data[1] = religion
user_data[2] = caste
user_data[3] = mother_tongue
user_data[2] = country
user_data[3] = height_cms

In [32]:

### Scaling the user data 
user_data_scale = scaler.transform([user_data])
print(user_data_scale)

result = knn_model.predict(user_data_scale)
result

[[ 1.          0.25        0.025       6.05692308  0.         -1.70967742]]

C:\Users\User\anaconda3\envs\py38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(
C:\Users\User\anaconda3\envs\py38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([29.8])